.monk.dark {
	color: #acc;
	background-color: #20262e;

	a {
		color: #94b4cb;
	}

	code {
		background-color: #161a20;
	}

	.menu a {
		color: #42a542;
		text-decoration-color: #205720;
	
		&:hover {
			text-decoration-color: #428a42;
		}
	
		&.active {
			font-weight: 600;
			color: #5ce95c;
			text-decoration-color: #52a852;
		}
	}

	hr {
		border-bottom-color: #283339;
	}
}