{% extends "index.html" %}
{% block content %}
	<main class="main">
		{% for page in paginator.pages %}
			{{ post_macros::page_in_list(page=page) }}
		{% endfor %}
		<nav>
			<p>
				{% if paginator.previous %}
				<a href="{{ paginator.previous }}">&laquo; Previous</a> |
				{% endif %}
				<span>Page {{ paginator.current_index }} of {{ paginator.pagers | length }}</span>
				{% if paginator.next %}
				| <a href="{{ paginator.next }}">Next &raquo;</a>
				{% endif %}
			</p>
		</nav>
	</main>
{% endblock content %}