{% import "macros.html" as macros %}
{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<link rel="icon" type="image/png" href="{{ get_url(path="/favicon.png", trailing_slash=false) }}">

		<title>{% block title %}{{ config.title }}{% endblock title %}</title>

		{% if config.generate_rss %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") }}">
		{% endif %}

		{% block css %}
			<link rel="stylesheet" href="{{ get_url(path="/site.css", trailing_slash=false) }}">
		{% endblock css %}

		{% block extra_head %}
		{% endblock extra_head %}
	</head>
	<body class="monk dark">
		<div class="container">
			{% block header %}
				{% if config.extra.main_menu %}
					<header class="header">
						<nav itemscope itemtype="http://schema.org/SiteNavigationElement">
							<ul class="menu main-menu">
								{% for item in config.extra.main_menu %}
									<li>
										<a itemprop="url"
											class="{% if macros::is_active_nav(url=macros::link(url=item.url), curr_url=current_url) == "true" %}active{% endif %}"
											href="{{ macros::link(url=item.url) }}">
											<span itemprop="name">{{ item.name }}</span>
										</a>
									</li>
								{% endfor %}
								</ul>
							<ul class="menu sub-menu">
								{% for item in config.extra.main_menu %}
									{% if item.sub and current_url is starting_with(macros::link(url=item.url)) %}
										{% for sub_item in item.sub %}
											<li>
												<a itemprop="url"
													class="{% if macros::link(url=sub_item.url) == current_url %}active{% endif %}"
													href="{{ macros::link(url=sub_item.url) }}">
														<span itemprop="name">{{ sub_item.name }}</span>
												</a>
											</li>
										{% endfor %}
									{% endif %}
								{% endfor %}
							</ul>
						</nav>
					</header>
				{% endif %}
			{% endblock header %}
			<hr />
			{% block content %}
				<main class="main">
					{{ section.content | safe }}
				</main>
			{% endblock content %}
		</div>
	</body>
</html>
