on:
  push:
    branches:
      - source
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/source'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build and deploy
        uses: shalzz/zola-deploy-action@v0.12.0
        env:
          PAGES_BRANCH: master
          BUILD_DIR: .
          TOKEN: ${{ secrets.TOKEN }}
